body {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

p {
  font-size: 2rem;
}

label {
  font-size: 2rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
}

select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

.description {
  font-style: italic;
  font-weight: 200;
}

.clue {
  font-size: 1.8rem;
}
